@import 'normalize';

html{
	margin: 0px;
	padding: 0px;
	width: 100%;
    height: 100%;
}

body{
	margin: 0px;
	padding: 0px;
}

header{
	height: 548*0.25px;
	width: 100%;
	.header__img{
		height: 100%;
		width: 100%;
		height: 548*0.25px;
		width: 625*0.25px;
		float: left;
	}
	.header__title{
		margin: 0px;
		padding: 0px;
		font-size: 21px;
		color: black;
		float: left;
		top: 20px;
		font-family: 'Anton', sans-serif;
	}
	.header__div{
		top: 15px;
		float: right;
	}
}