@import 'normalize';

html{
	margin: 0px;
	padding: 0px;
	width: 100%;
    height: 100%;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

header{
	height: 548*0.25+30px;
	width: 100%;
	.header__div1{
		.header__img{
			height: 548*0.25px;
			width: 625*0.25px;
			float: left;
		}
		.header__title{
			margin: 0px;
			padding: 0px;
			font-size: 21px;
			color: black;
			float: left;
			bottom: 0px;
			font-family: 'Anton', sans-serif;
		}
	}
	/*.header__div{
		top: 15px;
		float: right;
	}*/
	
}
.section1{
	background-image: url(http://cdn26.us1.fansshare.com/photo/computerbackgrounds/computer-hd-wallpaper-computer-background-computer-background-hd-777033549.jpg);
	height: 810px;
	width: 1440px;
	.section1__divImg{
		top: 15px;
		left: 40;
		height: 548*0.5px;
			width: 625*0.5px;
		.section1__img{
			height: 548*0.5px;
			width: 625*0.5px;
		}
	}
	.header__imput{
		float: right;
		margin: 0px;
		padding: 0px;
		text-align: center;
		display: none;
		.header__form{
			display: block;
		}
		.header__imputP{
			font-size: 21px;
		}
		.header__imputBut{
			float: right;
		}
		.header_div1{
			height: 1200px;
			width: 800px;
		}
	}
}
.section2{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.section3{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.section4{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}


footer{
	height: 40px;
	width: 100%;
	bottom: 0;
}