@import 'normalize';

html{
	margin: 0px;
	padding: 0px;
	width: 100%;
    height: 100%;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.link {
	text-decoration: none;
}

header{
	width: 100%;
	.header__div1{
		.header__img{
			height: 548*0.05px;
			width: 625*0.05px;
			float: left;
		}
		.header__title{
			margin: 0px;
			padding: 0px;
			font-size: 21px;
			color: black;
			float: left;
			bottom: 0px;
			font-family: 'Anton', sans-serif;
		}
	}	
}

.article{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	.article__div{
		padding: 10px;
		.article__p{
			padding: 10px;
		}
		.article__divImg{
			text-align: center;
			height: 90%;
			width: 100%;
			.article__img{
				text-align: center;
				height: 500*0.25px;
				width: 1000*0.25px;
			}
		}
	}
}

.section1{
	background-image: url(http://cdn26.us1.fansshare.com/photo/computerbackgrounds/computer-hd-wallpaper-computer-background-computer-background-hd-777033549.jpg);
	height: 810px;
	width: 1440px;
	.section1__divImg{
		height: 548*0.5px;
		width: 625*0.5px;
			.section1__img{
				width: 100%;
				height: 100%;
				
			}
	}
}

.section5{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	.section5__p{
		padding: 10px;
	}
}

.section2{
	margin: 0px;
	padding: 0px;
	height: 1200px;
	width: 100%;
	.section2__p{
		padding: 10px;
	}
	.card{
		margin: 10px;
		padding: 10px;
		width: 340px;
		height: 500px;
		border-radius: 10px;
		float: left;
		text-align: center;
		.section2__img{
			height: 200px;
			width: 200px;
			padding: 10px;
			text-align: center;
		}
		.section2__nom{
			text-align: center;
			font-size: 21px;
		}
		.section2__bio{
			text-align: left;
		}
	}
}

.section3{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	.section3__imput{
		padding: 10px;
	}
	.section3__p{
		padding: 10px;
	}
}

.section4{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	.section4__p{
		padding: 10px;
	}
}
.section6{
	height: 300px;
	width: auto;
	margin: 0px;
	padding: 0px;
	.section6__p{
		padding: 10px;
	}
	.section6__p1{
		font-size: 15px;
	}
	.section6__div{
		padding: 10px;
	}
}


footer{
	height: 100px;
	width: 100%;
	bottom: 0;
	font-size: 21px;
	.footer__p{
		padding: 10px;
	}
}

.tit{
	font-size: 21px;
}